html,
body{
    color: white;
    background: rgb(32, 32, 32);
}
.km
h1
{   
    background: rgb(146, 1, 1);
}
a{
    color: rgb(5, 5, 5);
}

.form
h1
{
    color: crimson;
}
    
.TS
h1{
    text-align: center;
    font-size: xx-large;
}